.view-user-btn {
    padding: 1rem;
    border: 2px solid #6366f1;
    border-radius: 0.375rem;
    margin: 1rem 0 1rem 1rem;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.25s linear;
}

.view-user-btn:hover {
    background-color: #6366f1;
    opacity: 1.0;
    transform: scale(1.1);
}

.contact-user-btn {
    padding: 1rem;
    border: 2px solid #f59e0b;
    border-radius: 0.375rem;
    margin: 1rem 0 1rem 1rem;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.25s linear;
}

.contact-user-btn:hover {
    background-color: #f59e0b;
    opacity: 1.0;
    transform: scale(1.1);
}

.view-trace-btn {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    border: 2px solid #f43f5e;
    border-radius: 0.375rem;
    margin: 1rem 0 1rem 1rem;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.25s linear;
}

.view-trace-btn:hover {
    background-color: #f43f5e;
    opacity: 1.0;
    transform: scale(1.1);
}

/* .view-user-btn {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 1rem;
    border: 2px solid #10b981;
    border-radius: 0.375rem;
    margin-top: 2rem;
    font-weight: 700;
    opacity: 0.8;
    transition: all 0.25s linear;
}

.view-user-btn:hover {
    background-color: #10b981;
    opacity: 1.0;
    transform: scale(1.1);
} */